# Problem 1

## Multiples of 3 or 5


If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

---

## Solution 1

A simple solution would be iterate from 1 to n - 1 (in this case n=1000) and check whether the number is multiple of 3 or 5.

```
   function sum_of_multiples(n: number, a: number, b: number): number
1.     x := 0;
2.     FOR i := 1 to n - 1 DO
3.         IF i mod 3 = 0 or i mod 5 = 0 THEN
4.             x := x + i;
5.         END IF;
6.     END FOR;
7.     RETURN x;
```

In [1]:
def sum_of_multiples(n, a, b):
    x = 0
    for i in range(n):
        if i % a == 0 or i % b == 0:
            x += i
    return x

In [2]:
sum_of_multiples(10, 3, 5)

23

In [3]:
sum_of_multiples(1000, 3, 5)

233168

Complexity: `O(n)`.

---

## Solution 2

A possible improvement is to use two variables to increment by steps of 3 and 5. Each iteration adds the lowest counter to the final sum and increments both variables. If the variables are equal, sum only one variable but increment both variables.

```
    function sum_multiples_2(n: number, a: number, b: number)
1.      x := 0;
2.      i := 0;
3.      j := 0;
4.      WHILE i < n and j < n DO
5.          IF i < j THEN
6.              x := x + i;
7.              i := i + a;
8.          ELSE
9.              IF j < i THEN
10.                 x := x + j;
11.                 j := j + b;
12.             ELSE
13.                 x := x + i;
14.                 i := i + a;
15.                 j := j + b;
16.             END IF;
17.         END IF;
18.     END WHILE;
19.     RETURN x;
    end function
```

In [4]:
def sum_of_multiples_2(n, a, b):
    x = 0
    i = 0
    j = 0
    while i < n or j < n:
        if i < j:
            x += i
            i += a
        elif j < i:
            x += j
            j += b
        elif i == j:
            x += i
            i += a
            j += b
    return x

In [5]:
sum_of_multiples_2(10, 3, 5)

23

In [6]:
sum_of_multiples_2(1000, 3, 5)

233168

This version is an improvement, but has the same complexity.

Complexity: `O(n)`.

---

## Solution 3

The sum of the multiples of 3 below 10, `3 + 6 + 9 = 18`, can be expressed as `3 + 6 + 9 = 3 · (1 + 2 + 3) = 18`, the product of 3 times the nth sum of the quotient of 10 / 3.

Same with the sum of multiples of 5 below 10: `5 = 5 · 1 = 5`.

The sum of all multiples of 3 and 5 below 10 is: `18 + 5 = 13`.

Below 10 there not exists any value multiple of 3 and 5 at the same time. Below 1000, `15 + 30 + ...`. These values must be subtracted from the sum.

```
   function sum_nth(n: number): number
1.    RETURN n * (n + 1) / 2;
   end function
```

```
   function sum_multiples_below(n: number, a: number): number
1.     n := n - 1;
2.     q := n / a;
3.     RETURN a * sum_nth(q);
   end function
```

```
   procedure problem_1()
1.     multiples_of_3 := sum_multiples_below(1000, 3);
2.     multiples_of_5 := sum_multiples_below(1000, 5);
3.     multiples_of_15 := sum_multiples_below(1000, 15);
4.     result := multiples_of_3 + multiples_of_5 - multiples_of_15;
5.     print(result);
   end procedure
```

In [7]:
def sum_nth(n):
    return n * (n + 1) / 2

In [8]:
def sum_multiples_below(n, a):
    return int(a * sum_nth(int((n - 1) / a)))

In [9]:
sum_multiples_below(1000, 3) + sum_multiples_below(1000, 5) - sum_multiples_below(1000, 15)

233168

Complexity of sum_nth(n): `O(sum_nth) = O(1)`.

Complexity of sum_multiples_below(n, a): `O(sum_multiples_below) = O(1)`.

The complexity of the procedure of the problem 1 is `O(1)`.

---